<%= render "shared/navbar" %>

<section id="groups-index">
    <h1>Group Search Results</h1>

    <div id="groups">
        <% for group in @groups %>
            <div class="group">
                <p id="group-info"><span><%= group.name %> - <%= group.workout_focus %> - <%= group.gender.capitalize %> - <%= group.users.count %>/6</span><span><%= group.duration %><span id="join-link">Join</span></span></p>
                <p id="group-users">
                    <% current_users = group.users.all %>
                    <% for i in 0..5 %>
                        <% if current_users[i] %>
                            <span><%= image_tag current_users[i].picture %></span>
                        <% else %>
                            <span class="no-user-box"><%= image_tag "no-user-box" %></span>
                        <% end %>
                    <% end %>
                </p>
            </div>
        <% end %>
    </div>
</section>