<%= render "shared/navbar" %>
<section id="show-group">
    <div class="group">
        <h1 class="main-header"><%= @group.name %></h1>
        <h2 class="sub-header-right">Workout Focus - <%= @group.workout_focus %></h2>
        <div class="group-image"><%= image_tag @group.picture%></div>
        <h2 class="sub-header-center">Members</h2>
        <div class="group-users">
            <% current_users = @group.users.all %>
            <% for i in 0..5 %>
                <% if current_users[i] %>
                    <span><%= link_to(image_tag(current_users[i].picture), user_path(current_users[i].id)) %></span>
                <% else %>
                    <span class="no-user-box"><%= image_tag "no-user-box" %></span>
                <% end %>
            <% end %>
        </p>
        <p><%= link_to("Create an Event", new_event_path(@group.id))%></p>
        <% for event in @group_events %>
            <p><%= event.id %></p>
        <% end %>
        <div class="calendar">
            <%= month_calendar(attribute: :date, events: @group_events) do |date, events| %>
                <%= date.day %>

                <% events.each do |event| %>
                    <div>
                        <%= event.id %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</section>