<section id="new-event">
    <h1 class="main-header"><%= @group.name %></h1>
    <h2 class="sub-header">New Event</h2>
    <div class="form">
        <%= form_with url: create_event_path, local: true do |form| %>
        <div class="form-field">
            <%= form.label :event_name, "Event Name:" %>
            <%= form.text_field :event_name %>
        </div>
        <div class="form-field">
            <%= form.label :date_time, "Date & Time:" %>
            <%= form.datetime_select :date_time %>
        </div>
        <div class="form-field textarea-field">
            <%= form.label :description, "Description:" %>
            <%= form.text_area :description, size: "26x9" %>
        </div>
        <div class="form-field">
            <%= form.label :picture, "Attach a Picture: " %>
            <%= form.file_field :picture, accept: "image/jpg,image/jpeg,image/png"%>
        </div>
        <div class="form-field submit-button">
            <%= form.submit value: "Post Event" %>
        </div>
        <% end %>
    </div>

</section>