<%= render "shared/navbar" %>
<% content_for :homepage_carousel_head do %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css" />
<% end %>

<section id="homepage">
    <div id="article-carousel">
        <div><%= image_tag "article-tests/article1.jpg" %><span>Article 1</span></div>
        <div><%= image_tag "article-tests/article2.jpg" %><span>Article 2</span></div>
        <div><%= image_tag "article-tests/article3.jpg" %><span>Article 3</span></div>
        <div><%= image_tag "article-tests/article4.jpg" %><span>Article 4</span></div>
        <div><%= image_tag "article-tests/article5.jpg" %><span>Article 5</span></div>
    </div>

    <div id="info-button">
        <p>?</p>
        <!-- button always displayed that opens the modal -->
        <button data-micromodal-trigger="modal-1">Open Modal</button>

        <!-- toggles modal display and holds the modals unique id -->
        <div class="modal-toggle" id="modal-1">
            <!-- the overlay behind the modal - when clicked, the modal is closed -->
            <div class="modal-overlay" data-micromodal-close>
                <!-- the actual modal contents, inside of an optional, styled container element -->
                <div class="modal-container">
                    <h1>Modal Content</h1>
                    <button data-micromodal-close>Close Modal</button>
                </div>
            </div>
        </div>
    </div>

    <div id="groups-nearby">
        <p id="groups-nearby-title">Groups Near You</p>
        <!-- 'nearby' logic to be added -->
        <% for group in Group.all.sample(3) %>
            <div class="group">
                <p id="group-info"><span><%= group.name %> - <%= group.workout_focus %> - <%= group.gender.capitalize %> - <%= group.users.count %>/6</span><span><%= group.duration %><span id="join-link">Join</span></span></p>
                <p id="group-users">
                    <% current_users = group.users.all %>
                    <% for i in 0..5 %>
                        <% if current_users[i] %>
                            <span><%= image_tag current_users[i].picture %></span>
                        <% else %>
                            <span class="no-user-box"><%= image_tag "no-user-box" %></span>
                        <% end %>
                    <% end %>
                </p>
            </div>
        <% end %>
    </div>

    <div id="group-search">
        <p id="find-a-group">Find a group</p>
        <!-- Only selectable options are those that an existing group already has - 22/12 -->
        <!-- Cannot 'unselect' back to default/nil once something has already been selected - 30/12 -->
        <%= form_with model: @group, method: "get", local: true do |form| %>
            <div id="search-conditions">
                <div class="condition">
                    <%= select :form, :duration, Group.all.collect{ |group| group.duration }.uniq.prepend(["Sprint Duration", nil]), {disabled: "", selected: ""} %>
                </div>
                <div class="condition">
                    <%= select :form, :workout_focus, Group.all.collect{ |group| group.workout_focus }.uniq.prepend(["Workout Focus", nil]), {disabled: "", selected: ""} %>
                </div>
                <div class="condition">
                    <%= select :form, :gender, Group.all.collect{ |group| group.gender.capitalize}.uniq.prepend(["Gender", nil]), {disabled: "", selected: ""} %>
                </div>
            </div>
            <div id="search">
                <%= form.submit value: "Search", name: nil %>
            </div>
        <% end %>
    </div>
    
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#article-carousel').slick({
                arrows: true,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                centerMode: true,
                variableWidth: true,
                adaptiveHeight: true,
                focusOnSelect: true
            });
        });
    </script>
</section>