<%= render "shared/navbar" %>
<% content_for :homepage_carousel_head do %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css" />
<% end %>

<section id="homepage">
    <div id="article-carousel">
        <div><%= image_tag "article-tests/article1" %><span>Article 1</span></div>
        <div><%= image_tag "article-tests/article2" %><span>Article 2</span></div>
        <div><%= image_tag "article-tests/article3" %><span>Article 3</span></div>
        <div><%= image_tag "article-tests/article4" %><span>Article 4</span></div>
        <div><%= image_tag "article-tests/article5" %><span>Article 5</span></div>
    </div>

    <div id="info-button">
        <p>?</p>
    </div>

    <div id="groups-nearby">
        <!-- some embedded ruby for each group... -->
    </div>

    <div id="group-search">
        <form>
            <!-- rails form containing search criteria and search submit button -->
        </form>
    </div>
    
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#article-carousel').slick({
                arrows: true,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                centerMode: true,
                variableWidth: true,
                adaptiveHeight: true,
                focusOnSelect: true
            });
        });
    </script>
</section>