<%= render "shared/navbar" %>
<% content_for :homepage_carousel_head do %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css" />
<% end %>

<section id="homepage">
    <div id="article-carousel">
        <div><%= image_tag "article-tests/article1" %><span>Article 1</span></div>
        <div><%= image_tag "article-tests/article2" %><span>Article 2</span></div>
        <div><%= image_tag "article-tests/article3" %><span>Article 3</span></div>
        <div><%= image_tag "article-tests/article4" %><span>Article 4</span></div>
        <div><%= image_tag "article-tests/article5" %><span>Article 5</span></div>
    </div>

    <div id="info-button">
        <p>?</p>
    </div>

    <div id="groups-nearby">
        <p id="title">Groups Near You</p>
        <!-- add 'nearby' logic later -->
        <% for group in Group.all.sample(3) %>
            <div class="group">
                <p id="group-info"><span><%= group.name %> - <%= group.workout_focus %></span><span><%= group.duration %><span id="join-link">Join</span></span></p>
                <p id="group-users">
                    <% current_users = group.users.all %>
                    <% for i in 1..6 %>
                        <% if current_users[i - 1] %>
                            <span>User Pic<%= i %></span>
                        <% else %>
                            <span>Box <%= i %></span>
                        <% end %>
                    <% end %>
                </p>
            </div>
        <% end %>
    </div>

    <div id="group-search">
        <form>
            <!-- rails form containing search criteria and search submit button -->
        </form>
    </div>
    
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#article-carousel').slick({
                arrows: true,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                centerMode: true,
                variableWidth: true,
                adaptiveHeight: true,
                focusOnSelect: true
            });
        });
    </script>
</section>