<%= render "shared/navbar" %>
<% content_for :homepage_carousel_head do %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css" />
<% end %>

<section id="homepage">
    <div id="article-carousel">
        <div><%= image_tag "article-tests/article1.jpg" %><span>Article 1</span></div>
        <div><%= image_tag "article-tests/article2.jpg" %><span>Article 2</span></div>
        <div><%= image_tag "article-tests/article3.jpg" %><span>Article 3</span></div>
        <div><%= image_tag "article-tests/article4.jpg" %><span>Article 4</span></div>
        <div><%= image_tag "article-tests/article5.jpg" %><span>Article 5</span></div>
    </div>

    <div id="info-button">
        <div data-micromodal-trigger="info-modal" id="modal-button">
            <!-- button always displayed that opens the modal -->
            <!-- data-micromodal-trigger attribute not working as intended (but still needed for some reason), so custom JS DOM script below used to open modal -->
            <p>?</p>
        </div>
        <!-- modal display toggling controller, also holding the modals id used for opening -->
        <div class="modal-toggle" id="info-modal">
            <!-- the page overlay behind the modal - when clicked, the modal is closed with data-micromodal-close -->
            <!-- visual elements not used here - modal covers entire screen -->
            <div class="modal-overlay" data-micromodal-close>
                <!-- the actual modal contents, inside of an custom, styled container element -->
                <div class="modal-container">
                    <h1>What is Otagai?</h1>
                    <div id="info-box-container">
                        <div class="info-box">
                            <div class="info-image">
                                <%= image_tag "info-images/sneakers-weights-gym.jpg" %>
                            </div>
                            <div class="info-text">
                                <p>text</p>
                            </div>
                        </div>
                        <div class="info-box">
                            <div class="info-text">
                                <p>text</p>
                            </div>
                            <div class="info-image">
                                <%= image_tag "info-images/arm-wrestling-competition" %>
                            </div>
                        </div>
                        <div class="info-box">
                            <div class="info-image">
                                <%= image_tag "info-images/high-five-camaraderie" %>
                            </div>
                            <div class="info-text">
                                <p>text</p>
                            </div>
                        </div>
                    </div>                    
                    <button data-micromodal-close>Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="groups-nearby">
        <p id="groups-nearby-title">Groups Near You</p>
        <!-- 'nearby' logic to be added -->
        <% for group in Group.all.sample(3) %>
            <div class="group">
                <p id="group-info"><span><%= link_to(group.name, group_path(group.id)) %> - <%= group.workout_focus %> - <%= group.gender.capitalize %> - <%= group.users.count %>/6</span><span><%= group.duration %><span id="join-link">Join</span></span></p>
                <p class="group-users">
                    <% current_users = group.users.all %>
                    <% for i in 0..5 %>
                        <% if current_users[i] %>
                            <span><%= link_to(image_tag(current_users[i].picture), user_path(current_users[i].id)) %></span>
                        <% else %>
                            <span class="no-user-box"><%= image_tag "no-user-box" %></span>
                        <% end %>
                    <% end %>
                </p>
            </div>
        <% end %>
    </div>

    <div id="group-search">
        <p id="find-a-group">Find a group</p>
        <!-- Only selectable options are those that an existing group already has - 22/12 -->
        <!-- Cannot 'unselect' back to default/nil once something has already been selected - 30/12 -->
        <%= form_with model: @group, method: "get", local: true do |form| %>
            <div id="search-conditions">
                <div class="condition">
                    <%= select :form, :duration, Group.all.collect{ |group| group.duration }.uniq.prepend(["Sprint Duration", nil]), {disabled: "", selected: ""} %>
                </div>
                <div class="condition">
                    <%= select :form, :workout_focus, Group.all.collect{ |group| group.workout_focus }.uniq.prepend(["Workout Focus", nil]), {disabled: "", selected: ""} %>
                </div>
                <div class="condition">
                    <%= select :form, :gender, Group.all.collect{ |group| group.gender.capitalize}.uniq.prepend(["Gender", nil]), {disabled: "", selected: ""} %>
                </div>
            </div>
            <div id="search">
                <%= form.submit value: "Search", name: nil %>
            </div>
        <% end %>
    </div>
    
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#article-carousel').slick({
                arrows: false,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                centerMode: true,
                variableWidth: true,
                adaptiveHeight: true,
                focusOnSelect: true
            });
        });
    </script>
    <script type="text/javascript">
        document.querySelector("div[id='modal-button']").addEventListener("click", (event) => {
            MicroModal.show("info-modal");
        })
    </script>
</section>