<!DOCTYPE html>
<html>
  <head>
    <title>Otagai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if content_for? :homepage_carousel_head %>
      <%= yield :homepage_carousel_head %>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
